PORT=0000
MONGODB_URI=example.com
CORS_ORIGIN=origin
ACCESS_TOKEN_SECRET=xyz123
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_SECRET=abc456
REFRESH_TOKEN_EXPIRY=2d
CLOUDINARY_CLOUD_NAME=example
CLOUDINARY_API_KEY=12345
CLOUDINARY_API_SECRET=54321
